<div class="container-xl bd-warning mt-5 py-5">
    <div class="row mt-5 align-items-center">
        <div class="col-md-5" data-aos="fade-right">
            <h1>Misión:</h1>
            <h2 class="bottom-line"></h2>
            <p class="justify-text">En Maraly, nuestra misión es construir hogares y espacios de calidad, seguros y sostenibles para satisfacer las necesidades y expectativas de nuestros clientes. A través de nuestra dedicación, experiencia y excelencia en la industria de la construcción, buscamos enriquecer la vida de las personas al crear ambientes que fomenten la comodidad, el bienestar y la armonía con el entorno.</p>
            <h1>Visión:</h1>
            <h2 class="bottom-line"></h2>

            <p class="justify-text">Nuestra visión en Maraly es convertirnos en una constructora líder y referente en el sector de la construcción, reconocida por nuestra integridad, innovación y compromiso con la calidad. Aspiramos a ser la opción preferida por nuestros clientes al ofrecer soluciones a medida, utilizando tecnologías vanguardistas y manteniendo un enfoque sostenible en todas nuestras operaciones. Deseamos crecer y expandir nuestra presencia, colaborando en proyectos emblemáticos que contribuyan al desarrollo de comunidades prósperas y sostenibles.</p>
        </div>
        <div class="col-md-6 " data-aos="fade-right">
            <img src="assets/images/logoCompressed.jpg" alt="logo-Maraly " class="img-fluid rounded shadow-lg">
        </div>
        <div class="col-12 " data-aos="fade-right">
            <h1>Valores:</h1>
            <h2 class="bottom-line"></h2>


            <ul class="">
                <li class="list-group-item">
                    <p><span class="fw-bold">Excelencia</span>: Nos esforzamos por alcanzar la excelencia en todo lo que hacemos, desde la planificación y diseño hasta la ejecución y entrega de proyectos. Buscamos la perfección en cada detalle y nos comprometemos a superar las expectativas de nuestros clientes.</p>
                </li>
                <li class="list-group-item" >
                    <p><span class="fw-bold">Integridad</span>: Nos guiamos por principios éticos sólidos y actuamos con honestidad y transparencia en todas nuestras interacciones. Valoramos la confianza que nuestros clientes, colaboradores y socios depositan en nosotros y nos esforzamos por mantenerla en todo momento.</p>
                </li>
                <li class="list-group-item" >
                    <p><span class="fw-bold">Compromiso</span> con la calidad: La calidad es el sello distintivo de nuestro trabajo. Nos esforzamos por cumplir con los más altos estándares de calidad en cada etapa de nuestros proyectos, garantizando la durabilidad y el valor a largo plazo de nuestras construcciones.</p>
                </li>
                <li class="list-group-item" >
                    <p><span class="fw-bold">Trabajo en equipo</span>: Fomentamos una cultura colaborativa y respetuosa donde cada miembro del equipo tiene la oportunidad de contribuir con sus habilidades y conocimientos. Creemos en la sinergia y el poder del trabajo en equipo para alcanzar resultados excepcionales.</p>
                </li>
                <li class="list-group-item" >
                    <p><span class="fw-bold">Innovación</span>: Abrazamos el cambio y buscamos constantemente nuevas formas de mejorar y optimizar nuestros procesos y soluciones. Promovemos la innovación en diseño, tecnología y prácticas constructivas para mantenernos a la vanguardia de la industria.</p>
                </li>
                <li class="list-group-item" >
                    <p><span class="fw-bold">Responsabilidad social y medioambiental</span>: Somos conscientes del impacto que nuestras acciones tienen en la sociedad y el medio ambiente. Nos comprometemos a operar de manera responsable y sostenible, protegiendo el entorno y contribuyendo al desarrollo de comunidades más resilientes y prósperas.</p>
                </li>
                <li class="list-group-item" >
                    <p><span class="fw-bold">Orientación al cliente</span>: Ponemos a nuestros clientes en el centro de todo lo que hacemos. Escuchamos activamente sus necesidades, comprendemos sus deseos y nos esforzamos por ofrecer soluciones personalizadas y satisfactorias que superen sus expectativas.</p>
                </li>
                <li class="list-group-item" >
                    <p><span class="fw-bold">Seguridad y bienestar</span>: La seguridad y el bienestar de nuestros empleados, colaboradores y todas las personas involucradas en nuestros proyectos son de máxima prioridad. Implementamos rigurosos estándares de seguridad y salud en el trabajo para garantizar un ambiente seguro y saludable para todos.</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>