<div class="container-xl bd-warning mt-5 py-5" id="inicio">
    <h1>Algunos de nuestros Proyectos</h1>
    <h2 class="bottom-line-primary mb-5"></h2>
    <div class="row justify-content-center justify-content-md-between align-items-end"> 

        <div class=" my-5 col-md-5 m-1" data-aos="">
            <h2>Plaza Citadina </h2>
            <h3 class="bottom-line-secondary mb-5"></h3>
            <ng-image-slider [images]="mitikah" [animationSpeed]="0.5" #nav ></ng-image-slider>
    
        </div>
        <div class=" my-5 col-md-5 m-1" data-aos="">
            <h2>Sears Averanda </h2>
            <h3 class="bottom-line-secondary mb-5"></h3>
            <ng-image-slider [images]="mitikah" [animationSpeed]="0.5" #nav ></ng-image-slider>
    
        </div>
        <div class=" my-5 col-md-5 m-1" data-aos="">
            <h2>Proyecto Mitikah</h2>
            <h3 class="bottom-line-secondary mb-5"></h3>
            <ng-image-slider [images]="mitikah" [animationSpeed]="0.5" #nav ></ng-image-slider>
    
        </div>
        <div class=" my-5 col-md-5 m-1" data-aos="">
            <h2>Proyecto Plaza Puerta La Victoria</h2>
            <h3 class="bottom-line-secondary mb-5"></h3>
            <ng-image-slider [images]="mitikah" [animationSpeed]="0.5" #nav ></ng-image-slider>
    
        </div>
        <div class=" my-5 col-md-5 m-1" data-aos="">
            <h2>Proyecto La Viga</h2>
            <h3 class="bottom-line-secondary mb-5"></h3>
            <ng-image-slider [images]="mitikah" [animationSpeed]="0.5" #nav ></ng-image-slider>
    
        </div>
        <div class=" my-5 col-md-5 m-1" data-aos="">
            <h2>Remodelación Del CETRAM De Metro Zapata</h2>
            <h3 class="bottom-line-secondary mb-5"></h3>
            <ng-image-slider [images]="mitikah" [animationSpeed]="0.5" #nav ></ng-image-slider>
    
        </div>
        <div class=" my-5 col-md-12 m-1" data-aos="fade-up">
            <h2>Trabajos en Avenida Universidad</h2>
            <h3 class="bottom-line-secondary mb-5"></h3>
            <ng-image-slider [images]="mitikah" [animationSpeed]="0.5" #nav ></ng-image-slider>
    
        </div>
        
    </div>


</div>

<app-footer></app-footer>