:root{
    --color1: rgb(244,185,19);
    --color2: rgb(226,21,44);
    --color3: rgb(8,54,255);
    --color4: rgb(0,0,0,0);
}

.bottom-line-primary{
    border: solid;
    border-width: 0px 0px 3px 0px;
    border-color: rgb(226,21,44) ;
}
.bottom-line-secondary{
    border: solid;
    border-width: 0px 0px 3px 0px;
    border-color: rgb(8,54,255) ;
}