<div class="container-xl bd-warning mt-5 py-5">
    <h1>Algunos de nuestros Proyectos</h1>
    <h2 class="bottom-line-primary mb-5"></h2>

    <div class=" my-5">
        <h2>Proyecto Mitikah</h2>
        <h3 class="bottom-line-secondary mb-5"></h3>
        <ng-image-slider [images]="mitikah" [animationSpeed]="0.5" #nav ></ng-image-slider>

    </div>
    <div class=" my-5">
        <h2>Proyecto Plaza Puerta La Victoria</h2>
        <h3 class="bottom-line-secondary mb-5"></h3>
        <ng-image-slider [images]="mitikah" [animationSpeed]="0.5" #nav ></ng-image-slider>

    </div>

</div>

<app-footer></app-footer>