@media (min-width:768px){

    .mapa{
        height: 700px;
    }
}
.mapa{
    width: 100%;
    border-radius: 20px;
}
.bottom-line{
    border: solid;
    border-width: 0px 0px 3px 0px;
    border-color: rgb(8,54,255) ;
}

.overlay {
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cambia el 0.5 para ajustar la opacidad */
  z-index: 1;
  transition: all ease-in 0.5s;
}
.overlay:hover{
  background-color: rgba(0, 0, 0, 0.4); /* Cambia el 0.5 para ajustar la opacidad */

}

.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 40vh;
  padding-bottom: 10px;
}

.hero-projects{
  background-image: url("https://cdn.pixabay.com/photo/2020/03/27/16/26/phone-4974179_1280.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
