:root{
    --color1: rgb(244,185,19);
    --color2: rgb(226,21,44);
    --color3: rgb(34,67,49);
    --color4: rgb(0,0,0,0);
}

#navbarOpacity{
    transition: 0.2s ease-in;

}
#navbarOpacity:hover{
    opacity: 100% !important;
}

.logo-navbar{
    max-width: 60px;
}
.floating-logo{

  width: 90px;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

