<div class="container-xl bd-warning mt-5 py-5">
    <div class="row mt-5 align-items-center">
        <div class="col-md-5" data-aos="fade-right">
            <h1>Misión:</h1>
            <h2 class="bottom-line"></h2>
            <p class="justify-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem architecto doloremque reiciendis. Minus nesciunt, numquam molestiae expedita magni aut voluptatibus esse quisquam recusandae reprehenderit possimus, itaque eum rem laboriosam laudantium.</p>
            <h1>Valores:</h1>
            <h2 class="bottom-line"></h2>

            <p class="justify-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, earum? Minus, est iste aperiam repellendus possimus illum vel impedit nobis! Sed sit doloremque delectus illum nobis, natus possimus ipsa! Natus.</p>
        </div>
        <div class="col-md-6 " data-aos="fade-right">
            <img src="assets/images/logoCompressed.jpg" alt="logo-Maraly " class="img-fluid rounded shadow-lg">
        </div>
    </div>
</div>

<app-footer></app-footer>