:root{
    --color1: rgb(244,185,19);
    --color2: rgb(226,21,44);
    --color3: rgb(8,54,255);
    --color4: rgb(0,0,0,0);
}
li{
  list-style: none;
}
.bottom-line{
    border: solid;
    border-width: 0px 0px 3px 0px;
    border-color: rgb(8,54,255) ;
}
.justify-text{
    text-align: justify !important;
    text-justify: inter-word !important;
}

.bg-principal{
    background-color: rgb(244,185,19);
}

.btn-outline-danger:hover{
    background-color: rgb(226,21,44) !important;
}

.text-primary{
    color: rgb(8,54,255) !important;
}
.overlay {
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cambia el 0.5 para ajustar la opacidad */
  z-index: 1;
  transition: all ease-in 0.5s;
}
.overlay:hover{
  background-color: rgba(0, 0, 0, 0.1); /* Cambia el 0.5 para ajustar la opacidad */

}

.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: end;
  padding-top: 40vh;
  margin-bottom: 50px;
  margin-right: 50px;
}
.home-fondo1{
    background-image: url("/assets/images/home/fondo1.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.home-fondo2{
    background-image:url("/assets/images/home/fondo2.jpg");
    /* height: 500px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
}
.home-fondo3{
    background-image: url("/assets/images/home/fondo3.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.home-fondo4{
  background-image:  url("/assets/images/home/fondo4.jpg");
  /* height: 500px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.home-fondo5{
  background-image:  url("/assets/images/home/fondo5.jpg");
  /* height: 500px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.home-fondo6{
  background-image: url("/assets/images/home/fondo6.jpg");
  /* height: 500px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home-fondo7{
  background-image: url("/assets/images/home/fondo7.jpeg");
  /* height: 500px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (min-width:768px){

    .home-fondo1{
        background-image: url("/assets/images/home/fondo1.jpg");
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
    .home-fondo2{
        background-image:url("/assets/images/home/fondo2.jpg");;
        /* height: 500px; */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom right;
        /* background-attachment: fixed; */
    }
    .home-fondo3{
        background-image: url("/assets/images/home/fondo3.jpg");
        height:100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
    .home-fondo4{
      background-image:  url("/assets/images/home/fondo4.jpg");
      /* height: 500px; */
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      /* background-attachment: fixed; */
  }
  .home-fondo5{
    background-image:  url("/assets/images/home/fondo5.jpg");
    /* height: 500px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    /* background-attachment: fixed; */
  }
  .home-fondo6{
    background-image:url("/assets/images/home/fondo6.jpg");
    /* height: 500px; */
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center right;
    /* background-attachment: fixed; */
  }
  .home-fondo7{
    background-image:url("/assets/images/home/fondo7.jpeg");
    /* height: 500px; */
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom center;
    /* background-attachment: fixed; */
  }
}

.fondo-transparente{
    border-radius: 20px;
}
@media (min-width:768px){

    .fondo-transparente{
        opacity: 90% !important;
        transition: 0.2s ease-in ;
    }
    .fondo-transparente:hover{
        opacity: 100% !important;
    }
}


.servicios-btn{
    border-style: solid;
    border-width: 3px;
    border-color: rgb(8,54,255) ;
}
.servicios-btn:hover{
    color:rgb(8,54,255);
}

@media (min-width:768px){

    .mapa{
        height: 700px;
    }
}
.mapa{
    width: 100%;
    border-radius: 20px;
}

.popup-button{
    transition: all ease-in 200ms;
}
.popup-button:hover{
    transform: translateY(-10px);
}
